# Life is better if you ignore some things

# Ignore cache
/.sass-cache
/.cache
/resources

# Ignore .DS_store file
.DS_Store

/node_modules
.tmp
npm-debug.log
.env
package-lock.json

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env

# Public folder
public/
