{{ define "main" }}

<h1 class="font-extrabold [font-stretch:150%] text-2xl md:text-3xl mb-6">
  Designs
</h1>

{{ $paginator := .Paginate (where .Site.RegularPages "Type" "design") }} {{
range $paginator.Pages }}
<a
  target="_blank"
  rel="noopener noreferrer"
  href="{{ .Params.Image }}"
  class="block my-10"
>
  <img
    loading="lazy"
    alt="{{ .Params.Image }}"
    src="{{ .Params.Image }}"
    class="rounded bg-cover w-full h-full bg-slate-100"
  />
</a>

{{end}}

<!-- pagination -->
{{ if ne .Type "page" }}
<section
  class="my-8 border-y border-slate-300 text-xl font-bold text-center flex justify-center items-center divide-x divide-slate-300"
>
  {{ if .Paginator.HasPrev }}
  <a href="{{ .Paginator.Prev.URL }}" class="py-8 w-full">← Previous</a>
  {{ end }} {{ if .Paginator.HasNext }}
  <a href="{{ .Paginator.Next.URL }}" class="py-8 w-full">Next →</a>
  {{ end }}
</section>
{{ end }}
<!-- pagination -->

{{end}}
