$text-color: #250404;
$bg-color: #fff6f6;
$accent-color: #c31c31;
$accent-light: #fdf1f1;

html {
  font-size: 16px;
  font-size: 100%;
  font-family: Merriweather, Georgia, Times, "Times New Roman", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: $text-color;
  background: $bg-color;
  width: 100%;
  max-width: none;
  margin: 0;
  @media screen and (min-width: 40em) {
    font-size: 17px;
    font-size: 1.1rem;
  }
}

main {
  line-height: 26px;
  line-height: 1.625rem;
  margin: 0rem 15px 1.625rem;
  margin-top: 50px;
  @media screen and (min-width: 40em) {
    line-height: 31px;
    line-height: 1.72222222rem;
    margin-bottom: 31px;
    margin-bottom: 1.72222222rem;
    max-width: 630px;
    max-width: 35rem;
    margin-left: auto;
    margin-right: auto;
  }
}
