html {
  font-size: 16px;
  font-size: 100%;
  font-family: Merriweather, Georgia, Times, 'Times New Roman', serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: $text-color;
  background: $bg-color;
  width: 100%;
  max-width: none;
  margin: 0;
  @include breakpoint {
    font-size: 17px;
    font-size: 1.1rem; 
  }
}

main{
  line-height: 26px;
  line-height: 1.625rem;
  margin: 0rem 20px 1.625rem;
  margin-top: 50px;
  @include breakpoint {
    line-height: 31px;
    line-height: 1.72222222rem;
    margin-bottom: 31px;
    margin-bottom: 1.72222222rem;
    max-width: 630px;
    max-width: 35rem;
    margin-left: auto;
    margin-right: auto;
  }
}

figure{
  text-align: center;
}

figcaption {
  line-height: 26px;
  line-height: 1.625rem;
  color: $text-color;
  display: block;
  font-size: .8125rem;
  font-style: italic;
  margin-bottom: 0;
  text-align: center;
  @include breakpoint {
    line-height: 31px;
    line-height: 1.722222222222222rem;
    margin-bottom: 0;
  }
}