/* merriweather-regular - latin */
@font-face {
  font-family: 'Merriweather';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/merriweather-v21-latin-regular.eot');
  src: local('Merriweather Regular'), local('Merriweather-Regular'),
       url('/fonts/merriweather-v21-latin-regular.eot?#iefix') format('embedded-opentype'),
       url('/fonts/merriweather-v21-latin-regular.woff2') format('woff2'),
       url('/fonts/merriweather-v21-latin-regular.woff') format('woff'),
       url('/fonts/merriweather-v21-latin-regular.ttf') format('truetype'),
       url('/fonts/merriweather-v21-latin-regular.svg#Merriweather') format('svg');
}

/* merriweather-italic - latin */
@font-face {
  font-family: 'Merriweather';
  font-display: swap;
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/merriweather-v21-latin-italic.eot');
  src: local('Merriweather Italic'), local('Merriweather-Italic'),
       url('/fonts/merriweather-v21-latin-italic.eot?#iefix') format('embedded-opentype'),
       url('/fonts/merriweather-v21-latin-italic.woff2') format('woff2'),
       url('/fonts/merriweather-v21-latin-italic.woff') format('woff'),
       url('/fonts/merriweather-v21-latin-italic.ttf') format('truetype'),
       url('/fonts/merriweather-v21-latin-italic.svg#Merriweather') format('svg');
}

/* merriweather-700 - latin */
@font-face {
  font-family: 'Merriweather';
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/merriweather-v21-latin-700.eot');
  src: local('Merriweather Bold'), local('Merriweather-Bold'),
       url('/fonts/merriweather-v21-latin-700.eot?#iefix') format('embedded-opentype'),
       url('/fonts/merriweather-v21-latin-700.woff2') format('woff2'),
       url('/fonts/merriweather-v21-latin-700.woff') format('woff'),
       url('/fonts/merriweather-v21-latin-700.ttf') format('truetype'),
       url('/fonts/merriweather-v21-latin-700.svg#Merriweather') format('svg');
}

/* unica-one-regular - latin */
@font-face {
  font-family: 'Unica One';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/unica-one-v7-latin-regular.eot');
  src: local('Unica One'), local('UnicaOne-Regular'),
       url('/fonts/unica-one-v7-latin-regular.eot?#iefix') format('embedded-opentype'),
       url('/fonts/unica-one-v7-latin-regular.woff2') format('woff2'),
       url('/fonts/unica-one-v7-latin-regular.woff') format('woff'),
       url('/fonts/unica-one-v7-latin-regular.ttf') format('truetype'),
       url('/fonts/unica-one-v7-latin-regular.svg#UnicaOne') format('svg');
}