$text-color: #250404;
$bg-color: #fff6f6;
$accent-color: #c31c31;
$accent-light: #fdf1f1;

$font-serif: Merriweather, Georgia, Times, "Times New Roman", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
