{{ define "main" }}

<article itemscope itemtype="http://schema.org/BlogPosting" class="prose md:prose-lg prose-slate max-w-none">
  <div>
    <h1 class="[font-stretch:150%]" itemprop="headline" title="{{ .Title }}">{{ .Title }}</h1>
    <p class="lead">
      {{ if now }}
      Last updated on 
      <time itemprop="datePublished" datetime="{{ .Lastmod.Format "2006-01-02T15:04:05-07:00" }}">
        {{ .Lastmod.Format "2 January 2006" }}
      </time>
      {{ else }}
      Written on
      <time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02T15:04:05-07:00" }}">
        {{ .Date.Format "2 January 2006" }}
      </time>
      {{ end }}
      <div class="sr-only">
        <span itemprop="wordCount">{{ .WordCount }}</span>
        <span itemprop="author">{{ .Site.Author.name }}</span>
      </div>
    </p>
  </div>
  <hr>
  <p class="lead" itemprop="description">{{ .Description }}</p>
  {{ .Content }}
</article>

{{end}}