{{ define "main" }}

<article itemscope itemtype="http://schema.org/BlogPosting">
  <h1 itemprop="headline" title="{{ .Title }}">{{ .Title }}</h1>
  <h6 style="margin-top: 0px">
    On
    <time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02T15:04:05-07:00" }}">
      {{ .Date.Format "2 January, 2006" }}
    </time>
    &nbsp;·&nbsp; By
    <span itemprop="author">{{ .Site.Author.name }}</span>
    &nbsp;·&nbsp; In
    <span itemprop="wordCount">{{ .WordCount }}</span> words
  </h6>
  <br>
  <p class="attention-grabber" itemprop="description">{{ .Description }}</p>
  {{ .Content }}
</article>

{{end}}