pre {
  overflow-x: auto;
  padding: 3px 12px;
  border-radius: 5px;
  code {
    font-size: 85%;
    padding: 0px !important;
  }
}

p code {
  padding: 2px 7px;
  border-radius: 5px;
  color: #f8f8f2;
  font-size: 85%;
  background-color: #282a36;
}
