pre {
  overflow-x: auto;
  padding: 3px 12px;
  border-radius: 5px;
  code:before,
  code:after {
    content: none;
  }
}

code:before,
code:after {
  content: "`";
}

code,
kbd,
samp,
pre {
  font-family: "Menlo", "Consolas", "Roboto Mono", "Ubuntu Monospace",
    "Noto Mono", "Oxygen Mono", "Liberation Mono", monospace,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  word-break: break-all;
  font-size: 85%;
}
