figure {
  text-align: center;
}

figcaption {
  line-height: 26px;
  line-height: 1.625rem;
  color: $text-color;
  display: block;
  font-size: 0.8125rem;
  font-style: italic;
  margin-bottom: 0;
  text-align: center;
  @media screen and (min-width: 40em) {
    line-height: 31px;
    line-height: 1.722222222222222rem;
    margin-bottom: 0;
  }
}
