footer {
  text-align: center;
  padding: 15px;
  padding-bottom: 70px;
  @media screen and (min-width: 40em) {
    padding: 100px;
    padding-top: 15px;
  }
  .footer-links {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    a {
      padding: 10px;
    }
    a,
    p {
      margin: 0px;
      display: inline-block;
    }
  }
}
