header {
  text-align: center;
  padding: 12px;
  background-color: #fdf1f1;
  a {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.1em;
    font-size: 21px;
    font-family: $font-sans;
    text-decoration: none;
    &:visited {
      color: $accent-color;
    }
  }
}
