.attention-grabber {
  font-size: 19.2px;
  font-size: 1.2rem;
  line-height: 32px;
}

h1 {
  font-size: 32px;
  font-size: 2rem;
  line-height: 46.4px;
  line-height: 2.9rem;
  margin-top: 104px;
  margin-top: 6.5rem;
  margin-bottom: 26px;
  margin-bottom: 1.625rem;
}

h2 {
  font-size: 27px;
  font-size: 1.6875rem;
  line-height: 39px;
  line-height: 2.4375rem;
  margin-top: 65px;
  margin-top: 4.0625rem;
  margin-bottom: 13px;
  margin-bottom: 0.8125rem;
}

h3 {
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 26px;
  line-height: 1.625rem;
  margin-top: 52px;
  margin-top: 3.25rem;
  margin-bottom: 13px;
  margin-bottom: 0.8125rem;
}

h4 {
  font-size: 19.2px;
  font-size: 1.2rem;
  line-height: 26px;
  line-height: 1.625rem;
  margin-top: 39px;
  margin-top: 2.4375rem;
  margin-bottom: 13px;
  margin-bottom: 0.8125rem;
}

h5 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 26px;
  line-height: 1.625rem;
  margin-top: 65px;
  margin-top: 4.0625rem;
  margin-bottom: 13px;
  margin-bottom: 0.8125rem;
}

h6 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 26px;
  line-height: 1.625rem;
  margin-top: 65px;
  margin-top: 4.0625rem;
  margin-bottom: 13px;
  margin-bottom: 0.8125rem;
}

@media screen and (min-width: 40em) {
  h1 {
    font-size: 40px;
    font-size: 2.5rem;
    line-height: 62px;
    line-height: 3.444444444444445rem;
    margin-top: 124px;
    margin-top: 6.888888888888889rem;
    margin-bottom: 31px;
    margin-bottom: 1.722222222222222rem;
  }

  h2 {
    font-size: 27px;
    font-size: 1.6875rem;
    line-height: 46.5px;
    line-height: 2.583333333333334rem;
    margin-top: 77.5px;
    margin-top: 4.305555555555556rem;
    margin-bottom: 15.5px;
    margin-bottom: 0.861111111111111rem;
  }

  h3 {
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 31px;
    line-height: 1.722222222222222rem;
    margin-top: 62px;
    margin-top: 3.444444444444445rem;
    margin-bottom: 15.5px;
    margin-bottom: 0.861111111111111rem;
  }

  h4 {
    font-size: 19.2px;
    font-size: 1.2rem;
    line-height: 31px;
    line-height: 1.722222222222222rem;
    margin-top: 46.5px;
    margin-top: 2.583333333333334rem;
    margin-bottom: 15.5px;
    margin-bottom: 0.861111111111111rem;
  }

  h5 {
    font-size: 16px;
    font-size: 1rem;
    line-height: 31px;
    line-height: 1.722222222222222rem;
    margin-top: 77.5px;
    margin-top: 4.305555555555556rem;
    margin-bottom: 15.5px;
    margin-bottom: 0.861111111111111rem;
  }

  h6 {
    font-size: 16px;
    font-size: 1rem;
    line-height: 31px;
    line-height: 1.722222222222222rem;
    margin-top: 77.5px;
    margin-top: 4.305555555555556rem;
    margin-bottom: 15.5px;
    margin-bottom: 0.861111111111111rem;
  }
}
h1 + h2 {
  margin-top: 26px;
  margin-top: 1.625rem;
}
@media screen and (min-width: 40em) {
  h1 + h2 {
    margin-top: 31px;
    margin-top: 1.722222222222222rem;
  }
}

h2 + h3,
h3 + h4,
h4 + h5 {
  margin-top: 13px;
  margin-top: 0.8125rem;
}
@media screen and (min-width: 40em) {
  h2 + h3,
  h3 + h4,
  h4 + h5 {
    margin-top: 15.5px;
    margin-top: 0.861111111111111rem;
  }
}

h5 + h6 {
  margin-top: -13px;
  margin-top: -0.8125rem;
}
@media screen and (min-width: 40em) {
  h5 + h6 {
    margin-top: -15.5px;
    margin-top: -0.861111111111111rem;
  }
}

h6 {
  font-style: italic;
  font-weight: normal;
}
