hr {
  margin-top: 62px;
  margin-top: 3.444444444444445rem;
  margin-bottom: 62px;
  margin-bottom: 3.444444444444445rem;
  height: 31px;
  height: 1.722222222222222rem;
  box-sizing: content-box;
  border: 0;
  color: #222;
  display: block;
  text-align: center;
  &:before {
    content: "···";
    letter-spacing: 1em;
  }
}

blockquote {
  margin: 0px;
  padding: 1px 15px;
  background-color: $accent-light;
  border-left: 5px solid $accent-color;
}
