a {
  background: transparent;
  color: $accent-color;
  transition: color 0.3s ease;
  font-weight: 700;
  text-decoration: none;
  &:hover {
    color: $text-color;
  }
  &:visited {
    color: #a00014;
    &:hover {
      color: $accent-color;
    }
  }
  &:active {
    color: #f00;
  }
}
