---
import { AUTHOR_X } from "../consts";
import Layout from "../Layout.astro";
---

<Layout title="Page not found (404)">
  <section
    class="mx-auto max-w-sm px-4 py-48 text-center space-y-2 **:[a]:underline **:[h1]:font-bold **:[p]:opacity-75"
  >
    <h1>Page not found (404)</h1>
    <p>
      If you think this is a mistake, please let me know at{" "}
      <a href={AUTHOR_X} target="_blank" rel="noreferrer noopener">Twitter</a>.
    </p>
  </section>
</Layout>
