---
import { getCollection, type CollectionEntry } from "astro:content";
import Layout from "../../Layout.astro";
import { Image } from "astro:assets";

const designs: CollectionEntry<"design">[] = (
  await getCollection("design")
).sort(
  (a: CollectionEntry<"design">, b: CollectionEntry<"design">) =>
    (b.data.pubDate?.valueOf() ?? 0) - (a.data.pubDate?.valueOf() ?? 0)
);
---

<Layout title="Designs">
  <section
    class="mx-auto flex max-w-xl flex-col gap-6 p-4 font-bold **:[img]:rounded"
  >
    <h1>Designs</h1>
    {
      designs.map((design) => (
        <a
          target="_blank"
          data-astro-prefetch="false"
          href={Astro.url.origin + design.data.cover.src}
        >
          <Image
            width={1600}
            height={1200}
            alt={design.id}
            src={design.data.cover}
          />
        </a>
      ))
    }
  </section>
</Layout>
