---
import { getCollection, type CollectionEntry } from "astro:content";
import Layout from "../../Layout.astro";
import { Image } from "astro:assets";

const posts: CollectionEntry<"design">[] = (await getCollection("design")).sort(
  (a: CollectionEntry<"design">, b: CollectionEntry<"design">) =>
    (b.data.pubDate?.valueOf() ?? 0) - (a.data.pubDate?.valueOf() ?? 0)
);
---

<Layout title="Designs">
  <section class="mx-auto flex max-w-xl flex-col gap-6 p-4 font-bold">
    <h2>Designs</h2>
    {
      posts.map((post, id) => (
        <a href={Astro.url.origin + post.data.coverImage.src} target="_blank">
          <Image
            class="rounded"
            width={1600}
            height={1200}
            src={post.data.coverImage}
            alt={post.data.coverImage.src}
            loading={id > 10 ? "lazy" : "eager"}
          />
        </a>
      ))
    }
  </section>
</Layout>
