{{ define "main" }}

<div
  itemscope
  itemtype="http://schema.org/BlogPosting"
  class="prose md:prose-lg prose-slate dark:prose-invert max-w-none"
>
  <h1 class="[font-stretch:150%]" itemprop="headline">Page not found (404)</h1>

  <p>
    The page that you are looking for is not available. If you think this is a
    mistake, please contact me at
    <a
      title="Twitter"
      href="https://twitter.com/{{ .Site.Author.twitter }}"
      target="_blank"
      rel="noopener"
      >Twitter</a
    >.
  </p>

  <hr />

  <h2>Read latest blog posts:</h2>

  {{ range where .Site.RegularPages "Type" "blog" }}
  <p style="line-height: 22px"><a href="{{ .Permalink }}">{{ .Title }}</a></p>
  {{ end }}
</div>
{{ end }}
