<ul aria-label="Social Links">
  <li>
    <a title="Twitter" href="https://twitter.com/{{ .Site.Author.twitter }}" target="_blank" rel="noopener">
      Twitter
    </a>
  </li>
  <li>
    <a title="Instagram" href="https://instagram.com/{{ .Site.Author.instagram }}" target="_blank" rel="noopener">
      Instagram
    </a>
  </li>
  <li>
    <a title="Github" href="https://github.com/{{ .Site.Author.github }}" target="_blank" rel="noopener">
      GitHub
    </a>
  </li>
  <li>
    <a title="Dribbble" href="https://dribbble.com/{{ .Site.Author.dribbble }}" target="_blank" rel="noopener">
      Dribbble
    </a>
  </li>
</ul>
